
{%  extends 'layout.html' %}
{% block body %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
{% endif %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h2 class="text-center mb-3">My Events</h2>
      <div class="flex flex-wrap -m-4">
        {% for event in events %}
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden" href="/myEvents/{{event.id}}">
            {% with pic_found=False %}
            {% for pic in pics %}
              {% if pic.event == event %}
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/media/{{pic.image}}">
              {% with pic_found=True %}{% endwith %}
              {% endif %}
            {% endfor %}
            {% endwith %}
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{event.event_date}}</h3>
            <a class="text-decoration-none" href="/myEvents/{{event.id}}"><h2 class="text-gray-900 title-font text-lg font-medium">{{event.name}}</h2></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>




{% endblock %}