
{%  extends 'layout.html' %}
{% block body %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
{% endif %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h2 class="text-center mb-3">My Events</h2>
      <div class="flex flex-wrap -m-4">
        {% for event in myBigArr %}
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            {{event.0.name}}
            <div class="d-flex flex flex-wrap">
                {% for pic in event.1 %}
                <img src="/media/{{pic.image.image}}" alt="" srcset="">
                {% endfor %}
            </div>
          
        </div>
        {% endfor %}
      </div>
    </div>
  </section>




{% endblock %}