{% extends 'layout.html' %}
{% block body %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <h2 class="text-center">{{event.name}}  </h2>
      <div class="flex flex-wrap mt-4">
        {% if photos %}
        <h2 class="text-center">We found these images that matches your Face</h2>
        {% for photo in photos %}
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/media/{{photo.image}}">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1"></h3>
            <h2 class="text-gray-900 title-font text-lg font-medium"></h2>
            <p class="mt-1">Uploaded on: {{photo.date}}</p>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h2 class="text-center">We found no image that matches your Face</h2>
        {% endif %}
      </div>
    </div>




    <div class="modal fade" id="publishModal" tabindex="-1" aria-labelledby="publishModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">''
            <h5 class="modal-title" id="publishModalLabel">Publish Event</h5>
            <button class="btn btn-success ml-auto" onclick="publishEvent()" id="publishModalBtn" > Publish</button>
          </div>
          <div class="modal-body text-center">
            <form class="form">
              <input type="text" class="form-control my-2" value="{{event.name}}" disabled>
              <input type="text" class="form-control my-2" value="{{event.event_date}}" disabled>
              <textarea class="form-control my-2" disabled style="height: 200px;">{{event.description}}</textarea>
              <hr>
              <div class="flex">
                <div id="qrcode" style="width: 128px; height: 128px;"></div>
                <div class="">
                  <div type="text" class="form-control ml-3 my-2 " style="width: 100%;" >http://127.0.0.1:8000/client/sharedEvent/{{event.id}}</div>
                  <div type="text" class="form-control ml-3 my-2 " style="width: 100%;" >{{event.code}}</div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

  </section>

{% endblock %}